@(loginForm: Form[UserForm.User])(implicit request: RequestHeader, msgProv: MessagesProvider)

<!--@implicitFC = @{ b4.horizontal.fieldConstructor("col-md-4", "col-md-8") }-->

@main("Pomodoro") {
  @b4.form(routes.HomeController.index) {
    @b4.email( loginForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com" )
    @b4.password( loginForm("password"), '_label -> "Password", 'placeholder -> "Password" )
    @b4.submit('class -> "btn btn-default"){ Sign in }
  }

<p id="demo"></p>
}