@(title: String, backendAddress: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src='@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")' type="text/javascript"></script>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")'/>
    </head>
    <body>
        <input type="hidden" id="backend-address" name="backend-address" value="@backendAddress">
        <div class="container" id="page-wrapper">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    Pomodoro
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarToggleExternalContent"
                        aria-controls="navbarToggleExternalContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>
            </nav>

            <div class="collapse" id="navbarToggleExternalContent">
                <!--<div id="settings">-->
                    <!--<script type="text/javascript">-->
                        <!--Main.renderSettings()-->
                    <!--</script>-->
                <!--</div>-->
            </div>

            @content
            <div id="settings">
                <script type="text/javascript">
                    Main.renderSettings()
                </script>
            </div>
        </div>
    </body>
</html>
