@()
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text bg-secondary text-light">Pomodoro length</span>
    </div>
    <input type="text" class="form-control" id='pomodoro-length' aria-label="Pomodoro length in minutes">
    <div class="input-group-prepend">
        <span class="input-group-text">minutes</span>
    </div>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text bg-secondary text-light">Break length</span>
    </div>
    <input type="text" class="form-control" id='break-length' aria-label="Break length in minutes">
    <div class="input-group-prepend">
        <span class="input-group-text">minutes</span>
    </div>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" id="settings-save">Save</button>
    </div>
</div>