@()
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Pomodoro length</span>
    </div>
    <input type="text" class="form-control" aria-label="Pomodoro length in minutes">
    <div class="input-group-prepend">
        <span class="input-group-text">minutes</span>
    </div>
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Break length</span>
    </div>
    <input type="text" class="form-control" aria-label="Break length in minutes">
    <div class="input-group-prepend">
        <span class="input-group-text">minutes</span>
    </div>
</div>