@()
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Pomodoro length</span>
    </div>
    <input type="text" class="form-control" aria-label="Pomodoro length in minutes">
    <input type="range" class="custom-range" min="1" max="200" id="customRange1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Break length</span>
    </div>
    <input type="text" class="form-control" aria-label="Break length in minutes">
    <input type="range" class="custom-range" min="1" max="200" id="customRange2">
</div>