@(loginForm: Form[UserForm.User])(implicit request: RequestHeader, msgProv: MessagesProvider)

<!--@implicitFC = @{ b4.horizontal.fieldConstructor("col-md-4", "col-md-8") }-->

@main("Pomodoro") {
 <div class="container">
   <div class="row">
     <div class="col-sm-4 offset-4">
       <div class="card">
         <h2>
           <div class="card-body text-center" id="timer">
             25:00
           </div>
         </h2>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-sm-2 offset-4">
       <button type="button" class="btn btn-success btn-block">Start</button>
     </div>
     <div class="col-sm-2">
       <button type="button" class="btn btn-danger btn-block">Stop</button>
     </div>
   </div>
 </div>
}