@(loginForm: Form[UserForm.User])(implicit request: RequestHeader, msgProv: MessagesProvider)

@main("Pomodoro") {
    <div class="row">
     <div class="col">
       <div class="card">
         <h2>
           <div class="card-body text-center" id="pomodoro-timer">
               25:00
           </div>
         </h2>
       </div>
     </div>
    </div>
    <div class="row">
     <div class="col">
       <button type="button"
               class="btn btn-outline-success btn-lg btn-block"
               onclick="startTimer()"
               id="start-button">Start</button>
     </div>
     <div class="col">
       <button type="button"
               class="btn btn-outline-danger btn-lg btn-block"
               onclick="stopTimer()"
               id="stop-button">Stop</button>
     </div>
    </div>

    <div id="accordion">
    <div class="card mt-5">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0 text-center">
                <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Toggle Last Pomodoros
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <table class="table my-0">
                    <thead>
                    <tr>
                        <th scope="col">Duration</th>
                        <th scope="col">Started</th>
                        <th scope="col">Finished</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1 aura</td>
                        <td>most</td>
                        <td>korabban</td>
                    </tr>
                    <tr>
                        <td>2 percc</td>
                        <td>2 most</td>
                        <td>2 korabban</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
}